---
import Button from '@components/ui/Button.astro';
import { Image } from 'astro:assets';
import logo_header from '@assets/images/logos/logo_home.png';

interface HeroContent {
    title: string;
    description: string;
        buttons?: {
        text: string;
        link: string;
        variant?: 'primary' | 'secondary' | 'ghostLight' | 'ghostDark';
        target?: string;
    }[];
    backgroundImage?: string | any; // Using any for now to handle both string paths and imported images
    overlayOpacity?: number; // Value between 0 and 1
}

interface Props {
    content: HeroContent;
}

const { content } = Astro.props;
const opacity = content.overlayOpacity ?? 1; // Default opacity if not specified
---

<section class="relative">
    {content.backgroundImage && (
        <div class="absolute inset-0 left-0 top-0 w-full h-full overflow-hidden">
            <Image 
                src={content.backgroundImage}
                alt="Background image"
                width={1920}
                height={1180}
                class="w-full h-full object-cover"
                quality={70}
                format="webp"
                loading="eager"
                decoding="async"
            />
            <div 
                class="hero-background absolute inset-0 left-0 top-0 w-full h-full overflow-hidden" 
                style={`opacity: ${opacity};`}
            ></div>
        </div>
    )}

    <div class="pt-0 site-container mx-auto px-4 mb-30 h-100 relative z-10 flex flex-col md:items-center md:justify-center md:text-center">            
        <div class="absolute inset-0 bg-black/50 -z-10"></div>
        <Image 
                src={logo_header}
                alt="Logo"
                width={300}
                height={300}
                quality={70}
                loading="eager"
                decoding="async"
                class="mt-24"
            />
        <h1 class="text-white text-balance" data-aos="fade-up">{content.title}</h1>
        <p class="text-white mt-2 mb-10 text-balance" data-aos="fade-up" data-aos-delay="100">{content.description}</p>
    </div>
</section>